.structure-container {
    max-height: 100%;
    overflow-y: auto;
}

/* .file, */
.directory {
    padding-block: .5px;
}

.item > button{
    /* border-radius: 0px; */
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding-block: .3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}