.flex {
  display: flex;
}

/* Editor Setup */

.Editor {
  height: 100%;
  /* width: 80%; */
}

.EditorContainer {
  /* height: 70vh; */
  height: 100%;
}

.FileOpener {
  height: 100%;
}

/* Terminal Setup */

.Terminal {
  /* height: 30vh; */
  /* width: 80%; */
  height: 100%;
}

/* Editor-Terminal Setup */

.EditorTerminal {
  width: 100%;
}

/* Structure */

.Structure {
  width: 20%;
}
