.flex {
  display: flex;
}

/* Editor Setup */

.Editor {
  height: 100%;
}

.EditorContainer {
  height: 100%;
}

.FileOpener {
  height: 100%;
}

/* Terminal Setup */

.Terminal {
  height: 100%;
}

/* Editor-Terminal Setup */

.EditorTerminal {
  width: 100%;
}

/* Structure */